.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 700;
    background-color: white;
    min-width: 1158px;
   margin: 0 auto;
   border-bottom: 1px solid gray;
}

.link {
    color: rgb(229, 17, 17);
    font-weight: bold;
}

.activeLink {
    color:black;
}

.wrapperLinks{
    display: flex;
    gap: 20px;
}